/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

/* Border box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white
}

.headertitle {
    position: relative;
    width: 1200px;
    height: 100px;
    margin-left: 80px;
    text-align: center;

}

.title {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: rgb(240, 25, 72);
    padding-top: 10px;
    position: absolute;
    top: 5%;
    left: 35%;
    transform: translate (-50%, -50%)
}

.title2 {
    font-size: 15px;
    font-family: Cambria;
    font-weight: bold;
}

/* Corpo Centrale */

/* Colonna 1 */
.colonna1 {
    position: absolute;
    left: 15%
}

/* Cards */
.cards {
    width: 400px;
    height: 130px;
    background-color: rgb(15, 15, 15);
    border-radius: 5px
}

/* Immagini */
.pics {
    float: left;
}

/* Contenitore testo card */
.testo-c {
    position: absolute;
    left: 150px
}


.names {
    color: white;
    font-family: 'Koulen', cursive;
    font-size: 35px;

}

.profession {
    color: white;
    font-family: 'Kanit', sans-serif;
    line-height: 5px;
    font-size: 20px;
    font-weight: bold;
}

.email {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 60px;

}

a:link {
    color: rgb(111, 171, 240);
    background-color: transparent;
    text-decoration: none;