/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");

/* Border box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 1200px;
}

.headertitle {
  position: relative;
  width: 1200px;
  height: 100px;
  margin-left: 80px;
  text-align: center;
}

/* Titolo */
.title {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  color: rgb(240, 25, 72);
  position: absolute;
  top: 9%;
  left: 35%;
  transform: translate (-50%, -50%);
}

.title2 {
  font-size: 15px;
  font-family: Cambria;
  font-weight: bold;
}

/* Corpo Centrale */

/* Colonna 1 */
.colonna1:after {
  clear: both;
  content: "";
  display: table;
  float: left;
  width: 25%;
}

/* Colonna 2 */
.colonna2:after {
  clear: both;
  content: "";
  display: table;
  float: left;
  width: 50%;
}

/* Colonna 3 */
.colonna3:after {
  clear: both;
  content: "";
  display: table;
  float: left;
  width: 25%;
}

/* Cards generale */
.cards {
  width: 350px;
  height: 120px;
  background-color: rgb(15, 15, 15);
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightblue;
}

/* Cards specifiche */

/* Immagini */
.pics {
  float: left;
}

/* Contenitore testo card */
.testo-c {
  display: inline-block;
  position: absolute;
  left: 140px;
}

.names {
  color: white;
  font-family: "Koulen", cursive;
  font-size: 35px;
  line-height: 60px;
}

.profession {
  color: white;
  font-family: "Kanit", sans-serif;
  line-height: 4px;
  font-size: 18px;
  font-weight: bold;
}

.email {
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 60px;
}

a:link {
  color: rgb(38, 211, 241);
  background-color: transparent;
  text-decoration: none;
}
