/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");

/* Border box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 1200px;
}


.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.headertitle {
  position: relative;
  width: 1200px;
  height: 100px;
  margin-left: 80px;
  text-align: center;
}

/* Titolo */
.title {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  color: rgb(240, 25, 72);
  position: relative;
  top: 9%;
  transform: translate (-50%, -50%);
}

/* Sottotitolo  */
.title2 {
  font-size: 15px;
  font-family: Cambria;
  font-weight: bold;
}

/* Container colonne */

.container-colonne {
  width: 100%;
  position:relative;
  left: 13%;
}

/* Colonna 1 */
.colonna1 {
  display: inline-block;
}

/* Colonna 2 */
.colonna2 {
  display: inline-block;
  position:relative;
  left: 10px;
 
}

/* Colonna 3 */
.colonna3 {
  display: inline-block;
  position:relative;
  left: 20px;
 

}

/* Cards generale */
.cards {
  width: 340px;
  height: 120px;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  margin-bottom: 50px;
}

/* Cards specifiche */

/* Immagini */
.pics {
  float: left;
  width: 120px;
}

/* Contenitore testo card */
.testo-c {
  position: relative;
  left: 20px;
}

.names {
  color: white;
  font-family: "Koulen", cursive;
  font-size: 35px;
  line-height: 60px;
}

.profession {
  color: white;
  font-family: "Kanit", sans-serif;
  line-height: 4px;
  font-size: 18px;
  font-weight: bold;
}

.email {
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 60px;
}

a:link {
  color: rgb(38, 211, 241);
  background-color: transparent;
  text-decoration: none;
}